<!-- contact.html -->
{% extends 'dbQuery/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<body>
  <div class="content">
    <div class="bg-white pt-5">
      <div class="container-fluid">
        <div class="main" style="margin-left:50px; margin-right: 50px;">
          <h1 class="border-bottom border-secondary">Contact</h1><br>
          <p>If you have any queries regarding Missense3D-PTM or just want to let us know how we are doing, please contact us. We will try to answer all questions and comments in a timely manner.
          </p>
          <br>
          <h4>Team</h4><hr>
          
          <div class="row">
            <div class="col-md-3">
              <strong>Dr Alessia David </strong><br>alessia.david09@imperial.ac.uk
            </div>
            <div class="col-md-3">
              <strong>Dr Gordon Hanna</strong><br>gordon.hanna19@imperial.ac.uk
            </div>
          </div>
    
          <br>
          <!-- <h5>Project Members</h5>
          <div class = "row">
            <div class="col">
              <strong>Olivia Simmonds</strong><br>olivia.simmonds20@imperial.ac.uk
            </div>
            <div class="col">
              <strong>Wendy Tran</strong><br>w.tran23@imperial.ac.uk
            </div>
            <div class="col">
              <strong>Grace Walker</strong><br>g.walker23@imperial.ac.uk
            </div>
            <div class="col">
              <strong>Haotian Zhao</strong><br>haotian.zhao20@imperial.ac.uk
            </div>
          </div> -->
    
          <br><br>
          <h4><a href="http://www.sbg.bio.ic.ac.uk/" style="color:#2b3f54;">Structural Bioinformatics Group</a></h4>
          <hr>
          <p class="after_header"><strong>Centre for Integrative Systems Biology and Bioinformatics</strong> <br>
            Department of Life Sciences<br>
            Sir Ernst Chain Building<br>
            Imperial College London<br>
            London SW7 2AZ, UK </p>
          </div>
       
      </div>
    </div>
  </div>

</body>
{% endblock %}